.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
.trigger:hover {
    color: #1890ff;
  }
.user-icon {
    font-size: 24px;
    line-height: 64px;
    margin: 0 32px;
    cursor: pointer;
    transition: color 0.3s;
  }
.user-icon:hover {
    color: #1890ff;
  }
.sidebar{
  height: 100vh;
} 
.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }